# system files
.DS_Store

# text editor files
*.bak
*.tmp
*.log

# build files
bin/*

# temp stuff
tmp/*
temp/*
*tmp*

# example files
*sgcluster*
*patronidemo*
patroni.yaml
*spilo*.yaml
*zalando*.yaml
example*.yaml

.github/workflows/*